<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.inferno_dog_care_app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inferno_Dog_Care_App">
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu" />
        <activity android:name=".BmiCalculator" />
        <activity android:name=".VetDetails" />
        <activity android:name=".ChannelVet" />
        <activity android:name=".AppointmentDetails" />
        <activity android:name=".SellMain" />
        <activity android:name=".SellPet" />
        <activity android:name=".ViewSellAdvertisement" />
        <activity android:name=".BuyPet" />
        <activity android:name=".DogWalkMonitor" />
        <activity android:name=".PaymentDetails" />
        <activity android:name=".AppointmentConfirmation" />
        <activity android:name=".FoodCalculator" />
        <activity android:name=".Login" />
        <activity android:name=".VetLogin" />
        <activity android:name=".UserLogin" />
        <activity android:name=".AdoptDog" />
        <activity android:name=".VetProfile" />
        <activity android:name=".VetIncome" />
        <activity android:name=".VetRegistation" />
        <activity android:name=".VetProfessionalDetails" />
    </application>

</manifest>